<!DOCTYPE html>
<html lang="da">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#234a56">

    <meta property="og:site_name" content="Nordlid">
    <meta property="og:description" content="Vi inspirerer til forandring og skaber resultater for vores kunder ved at bygge stærke relationer mellem mennesker og brands.">
    <meta property="og:image" content="https://www.nordlid.com/assets/img/og-image-nordlid.png">

    <meta name="twitter:description" content="Vi inspirerer til forandring og skaber resultater for vores kunder ved at bygge stærke relationer mellem mennesker og brands.">
    <meta name="twitter:image" content="https://www.nordlid.com/assets/img/og-image-nordlid.png">
    <meta name="twitter:image:alt" content="Norlid logo on a beautiful image of bryggen">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="https://www.nordlid.com/assets/img/nordlid-favicon.png">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://nordlid.com/css/style.css" />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <!-- AOS Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92920537-1"></script>

    <!-- Facebook Pixel Code -->
    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1204886126345223'); 
        fbq('track', 'PageView');

    <noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=1204886126345223&ev=PageView        &noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->
        
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-92920537-1');

    script.
        var _elqQ = _elqQ || [];
        _elqQ.push(['elqSetSiteId', '2331']);
        _elqQ.push(['elqTrackPageView']);
        
        (function () {
            function async_load() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                s.src = '//img.en25.com/i/elqCfg.min.js';
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            }
            if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
            else if (window.attachEvent) window.attachEvent('onload', async_load); 
        })();
    <!-- Hotjar Tracking Code for https://www.nordlid.com/ -->
    script.
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1318236,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');